name: brew test-bot
on:
  push:
    branches: master
  pull_request: []
jobs:
  test-bot:
    runs-on: macos-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Run brew test-bot
        env:
          HOMEBREW_BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          HOMEBREW_BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
        run: |
          set -e
          brew update
          HOMEBREW_TAP_DIR="/usr/local/Homebrew/Library/Taps/novaprova/homebrew-novaprova"
          mkdir -p "$HOMEBREW_TAP_DIR"
          rm -rf "$HOMEBREW_TAP_DIR"
          ln -s "$PWD" "$HOMEBREW_TAP_DIR"
          BINTRAY_ROOT=https://dl.bintray.com/novaprova/bottles-novaprova
          BINTRAY_ORG=novaprova
          HB_ORG=novaprova
          HB_REPO=novaprova
          HB_PACKAGE=novaprova
          brew test-bot --root-url=$BINTRAY_ROOT --bintray-org=$BINTRAY_ORG --tap=$HB_ORG/$HB_REPO $HB_ORG/$HB_REPO/$HB_PACKAGE
          pwd
          find .. -type f -name "$HB_PACKAGE*.json"
          find .. -type f -name "$HB_PACKAGE*bottle.tar*"
          # brew test-bot --root-url=$BINTRAY_ROOT --bintray-org=$BINTRAY_ORG --ci-upload
